body {
    margin: 10px;
    background-color: #eee8d5;
    font-family: sans-serif;
}

h1 {
    color: #586e75;
}

a, a:visited {
    color: #586e75;
}

a:hover {
    color: #839496;
}
