body {
    margin: 10px;
    background-color: #f0f0f0;
}

.team-rect {
    fill: #ffffff;
    shape-rendering: crispEdges;
    cursor: pointer;
}

.incomplete .team-rect {
    stroke: #dc322f;
}

.pending .team-rect,
.hovering .team-rect {
    stroke: #268bd2;
}

.team-text {
    font-family: arial, sans-serif;
    font-size: 10px;
    fill: #000000;
    pointer-events: none;
}

.pending .team-text {
    fill: #888888;
}

.link {
    stroke: #888888;
    stroke-width: 1px;
    fill: none;
}

.link.pending {
    stroke: #268bd2;
}

#status-container {
    font-family: sans-serif;
    font-size: 12px;
}

#status-container p {
    margin: 0px;
    margin-bottom: 2px;
    padding: 0px;
}

#status-container .error {
    color: #dc322f;
    font-weight: bold;
}

#status-container .warning {
    color: #b58900;
    font-weight: bold;
}

#status-container .good {
    color: #859900;
    font-weight: bold;
}

#bracket-code-container label {
    font-family: sans-serif;
    font-size: 12px;
}

#bracket-code {
    font-family: monospace;
    font-size: 12px;
}

#champ-points-container label {
    font-family: sans-serif;
    font-size: 12px;
}

#champ-points {
    font-family: monospace;
    font-size: 12px;
}

.team-swatch.region-1.pair-even {
    fill: #0051ba;
}

.team-swatch.region-1 {
    fill: #58a1ff;
}

.team-swatch.region-2.pair-even {
    fill: #154733;
}

.team-swatch.region-2 {
    fill: #34b17f;
}

.team-swatch.region-3.pair-even {
    fill: #7bafd4;
}

.team-swatch.region-3 {
    fill: #c5dcec;
}

.team-swatch.region-4.pair-even {
    fill: #f36f21;
}

.team-swatch.region-4 {
    fill: #fac3a3;
}
